<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">


    <title>Productos</title>
</head>
<body>

<div class="container">
    <div style="display: flex;">
    <div class="col-md-7 p-3">
     <form action="http://localhost:8080/productos" method="post" enctype="application/x-www-form-urlencoded">
        <h4>Ingresar un producto</h4>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">Titulo: </span>
            <input type="text" class="form-control" name="title" id="title" placeholder="Ej papita"
                aria-label="Recipient's username" aria-describedby="basic-addon2">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Precio: $</span>
            <input type="number" id="price" class="form-control" aria-label="Amount (to the nearest dollar)" name="price">
            <span class="input-group-text">.00</span>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">URL de la imagen del producto:</span>
            <input type="text" class="form-control" id="thumbnail" aria-describedby="basic-addon3"
                placeholder="https://www.imagen.com/imagen" name="thumbnail">
        </div>
        <button class="btn btn-primary" type="submit" onclick="evento(event)">Enviar producto</button>
    </form>
    </div>
    <div class="col-md-5 p-3">
        <div class="chat bg-info" style="height: 100%; width: 100%;">
            chat
        </div>
    </div>
    </div>
</div>
<div class="container">
    <div id="productos" class="productos"></div>
            <table>
    {{!-- {{#each products}}
                <thead class="t-title text-center">
                    <tr>
                        <th>#{{id}}</th>
                        <th>{{title}}</th>
                    </tr>
                </thead>
                <tbody class="t-body text-center">
                        <th>${{price}}</th>
                        <th><img src="{{thumbnail}}" style="width: 150px; height: 200px;" ></th>
                </tbody>
            {{else}}
            <div>No hay productos para mostrar</div> 
        {{/each}}
            </table> --}}
</div>
    <script src= '/socket.io/socket.io.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg=="crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
    <script src="socket.js"></script>
        <script src="main.js"></script>
    <script src="utils.js"></script>

</body>
</html>